.services {
  margin-top: rem(35);

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: rem(22);
    margin-bottom: rem(45);
  }

  &__title {
    flex-basis: 33.3%;

    &--large {
      flex-basis: 45%;
    }

    &--short {
      flex-basis: 21.7%;
    }
  }

  &__list {
    margin-bottom: rem(55);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(25);
  }

  &__url {
    flex-basis: 33.3%;
  }

  &__graph {
    flex-basis: 45%;
  }

  &__actions {
    flex-basis: 21.7%;

    span[class*="icon-"] {
      margin-right: rem(10);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
