.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: rem(9) 0 rem(80) 0;

  &__user {
    display: flex;
    align-items: center;

    &__avatar {
      border-radius: 50%;
      width: rem(60);
      height: rem(60);
      object-fit: cover;
    }

    &__greeting {
      font-size: rem(24);
      font-weight: 500;
      color: $black1;
      padding-left: rem(28);
    }
  }

  &__notifications {
    .icon-bell {
      font-size: rem(23);
    }
  }
}
