$white: #ffffff;
$white1: #fdfdfd;
$grey1: #f6f8fa;
$grey2: #e1e1e1;
$grey3: #5a5a5a;
$grey4: #7e7e7e;
$grey5: #d1d2d2;
$grey6: #373636;
$grey7: #9b9b9b;
$blue1: #9dcbe5;
$blue2: #578098;
$green1: #cff8dd;
$purple1: #dccff8;
$blue1-transparent: rgba(157, 203, 229, 0.5);
$red1-transparent: rgba(239, 35, 60, 0.3);
$black1: #333333;

$sidenavigation-width: 112;
$sidenavigation-logo-width: 74;
$sidenavigation-top-offset: 23;
